.main {
  background-color: lightgray;
  width: 300px;
  min-height: 300px;
  border-radius: 12px;
}

.video-content {
  width: 300px;
  height: 120px;
  border: 1px dashed lightgray;
}

.info-name {
  margin: 15px 15px;
  font-size: 14px;
  font-style: inherit;
  color: darkslategray;
}

.info-key {
  width: 90px;
  display: inline-block;
}

.info-src {
  display: inline-block;
  max-width: 170px;
  overflow: scroll;
  white-space: nowrap;
}